* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  color: #fff;
  background-color: var(--color-dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-light-bg: #fceccd;
  --color-light-bg-op: #fae1af;
  --color-light-bg-op2: #fbd997;
  --color-light-pri: #f6ad1b;
  --color-light-pri-op: #fbc14d;
  --color-light-pri-op2: #f9c762;

  --color-dark-bg: #1f1f38;
  --color-dark-bg-op: #2c2c6c;
  --color-dark-pri: #4db5ff;
  --color-dark-pri-op: rgba(77, 181, 255, 0.4);
}

body {
  margin: 0;
  /* background-image: url(../src/assets/bg-texture.png); */
  background: linear-gradient(130deg, black, #121286);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  overflow: hidden;
  background: transparent;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  color: #21ebff;
  transition: all 0.5s;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: all 0.5s;
}
.btn:hover::before {
  width: 100%;
  height: 100%;
}
.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: all 0.5s;
}
.btn:hover::after {
  width: 100%;
  height: 100%;
}

.card-pause {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.sign-container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.sign-container .sign-content {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}
.sign-container .sign-content .sign-header {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign-container .sign-content .sign-header h2 {
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sign-btn {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-weight: 500;
  font-size: 1.1rem;
}
.sign-container .sign-formBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background: #fff; */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.sign-container .sign-formBox.active {
  left: 50%;
}
