.container {
  display: flex;
  margin-left: 3rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}
.dummy-list {
  width: 56vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.header h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 2rem;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.sub {
  min-width: 350px;
}

.modal-container {
  color: black;
}
.modal-container ul li {
  font-size: 0.9rem;
}
.btn {
  float: right;
  margin-top: 1.5rem;
  color: black;
}

@media (min-width: 640px) {
  .header {
    flex-direction: row;
  }
  .products-list {
    justify-content: start;
  }
}
